:root {
  --navy: #011b5c;
  --blue: #174290;
  --orange: #e4650e;
  --bg: #f3f5f9;
  --text: #1c2230;
  --text-muted: #677088;

  font: 16px/1.5 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
